<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="todo.schedule.management.repository.ProjectMapper">

    <resultMap id="projectMap" type="todo.schedule.management.entity.Project">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <collection property="todoList" column="id" javaType="java.util.ArrayList" ofType="todo.schedule.management.entity.Todo"
                    select="getTodoListById" />
    </resultMap>

<!--    <select id="getTodoListById" resultType="todo.schedule.management.entity.Todo">-->
    <select id="getTodoListById" resultMap="todoMap">
        select * from `todo` where `todo`.project_id=#{id}
    </select>

    <resultMap id="todoMap" type="todo.schedule.management.entity.Todo">
        <id property="id" column="id" />
        <result property="todo" column="todo" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <select id="findById" resultMap="projectMap">
        select * from project where `project`.id=#{id}
    </select>
    <select id="findAll" resultMap="projectMap">
        select * from project
    </select>
    <insert id="insertProject" parameterType="todo.schedule.management.entity.Project">
        insert into project (name) values (#{name})
    </insert>
    <update id="updateProject" parameterType="todo.schedule.management.entity.Project">
        update project set name=#{name} where id=#{id}
    </update>
    <delete id="deleteProject">
        delete from project where id=#{id}
    </delete>

</mapper>